* {
    box-sizing: border-box;
}
body{
    min-width: 375px;
    width: 100%;
    margin: 0;
    font-family: 'helveticaneueregular';
    text-align: center;
    background-color: rgb(250, 250, 250);
    background-size: 100% auto;
    background-image: url('img/background.png');
}
nav.home_nav{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 15px;
    word-spacing: 40px;
}
nav.home_nav a{
    text-decoration: none;
    color: rgb(80,0,140);
    font-size: 20px;
    font-weight: bold;
}
header{
    display: block;
    padding-top: 10%;
}
h1, h2, h5, .icons{
    text-align: center;
}
h1{
    font-family: 'helveticaneuebold';
    font-size: 50px;
    font-weight: 900;
    color: rgb(34,34,34);
}
h2{
    font-size: 20px;
    font-weight: 100;
    color: rgb(170,170,170);
    margin-top: -25px;
}
h5{
    padding-top: 20px;
    word-spacing: 2px;
    color: rgb(207, 207, 208);
}
.icons{
    padding-top: 15px;
    padding-bottom: 15px;
    word-spacing: 25px;
}
.icons a{
    color: inherit;
}
figure img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 150px;
}
hr{
    border: 1px solid rgb(207, 207, 208);
    margin: 40px 20px 8px 20px;
    display: inline-block;
    width: 17%;
}
.hr_o{
    margin-top: -21.5px;
    color: rgb(207, 207, 208);
}

/* About */

nav.about_nav{
    float:right;
    margin-top: 20px;
    margin-left: -338px;
    padding-right: 50px;
    word-spacing: 24px;
}
nav.about_nav a{
    text-decoration: none;
    color: rgb(80,0,140);
    font-size: 20px;
    font-weight: bold;
}
.blog_info_title + .blog_info_date{
    margin-left: 25%;
}
mark{
    background-color: lightcyan;
}
.blog_info span:nth-child(2n){
    display: inline-block;
}
.blog_info_title{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2vh;
    color: rgb(34,34,34);
    margin-top: 2%;
    margin-left: -15%;
}
.blog_info_date{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(200,200,200);
    transform: translateY(-100%);
}

/* Projects */

.projects_nav{
    float:right;
    margin-top: 20px;
    margin-left: -338px;
    padding-right: 50px;
    word-spacing: 24px;
}
nav.projects_nav a{
    text-decoration: none;
    color: rgb(80,0,140);
    font-size: 20px;
    font-weight: bold;
}
.projects_info_title + .projects_info_date{
    margin-left: 30%;
}
.projects_info span:nth-child(2n){
    display: inline-block;
}
.projects_info i{
    margin-right: 0.4%;
}
.projects_info_title{
    text-decoration: none;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2vh;
    color: rgb(34,34,34);
    margin-top: 2%;
    margin-left: -14%;
}
.projects_info_date{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(200,200,200);
    transform: translateY(-100%);
}

@media screen and (max-width: 515px){
    nav.home_nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 1%;
    }
}
@media screen and (max-width: 1000px){
    nav.about_nav, nav.projects_nav{
        margin-top: 20px;
        text-align: center;
        margin: 0 auto;
        word-spacing: 20px;
    }
    figure.about_img, figure.projects_img{
        margin-top: 80px;
    }
    .blog_info_title + .blog_info_date{
        margin-left: 0%;
    }
    .blog_info_title{
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 2vh;
        color: rgb(34,34,34);
        margin-top: 2%;
        margin-left: 0%;
    }
    .blog_info_date{
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: rgb(200,200,200);
        transform: translateY(0%);
    }
}
@media screen and (max-width: 1350px){
    .projects_info_title + .projects_info_date{
        margin-left: 0%;
    }
    .projects_info_title{
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 2vh;
        color: rgb(34,34,34);
        margin-top: 2%;
        margin-left: 0%;
    }
    .projects_info_date{
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: rgb(200,200,200);
        transform: translateY(0%);
    }
}

@font-face {
    font-family: 'helveticaneueregular';
    src: url('helveticaneue-webfont.eot');
    src: url('helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-webfont.woff2') format('woff2'),
         url('helveticaneue-webfont.woff') format('woff'),
         url('helveticaneue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuebold';
    src: url('helvetica_neu_bold-webfont.eot');
    src: url('helvetica_neu_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('helvetica_neu_bold-webfont.woff2') format('woff2'),
         url('helvetica_neu_bold-webfont.woff') format('woff'),
         url('helvetica_neu_bold-webfont.ttf') format('truetype'),
         url('helvetica_neu_bold-webfont.svg#helveticaneuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
