body{
    width: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /* min-width: 650px; */
    text-align: center;
}
nav{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 2%;
    /* padding-bottom: 11%; */
    word-spacing: 40px;
}
nav a{
    text-decoration: none;
    color: indigo;
    font-size: 20px;
}
header{
    display: block;
    padding-top: 10%;
}
h1, h2, h5, .icons{
    text-align: center;
}
h1{
    font-size: 50px;
    font-weight: 900;
    color: #222;
}
h2{
    font-size: 20px;
    font-weight: 100;
    color: #aaa;
    margin-top: -1.42%;
}
h5{
    padding-top: 1%;
    word-spacing: 2px;
    color: rgb(222, 222, 222);
}
.icons{
    padding-top: 0.7%;
    word-spacing: 25px;
}
figure img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 150px;
}
hr{
    border: 1px solid rgb(237, 238, 242);
    margin-top: 1%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    display: inline-block;
    width: 17%;
}
.burbuliukas{
    margin-top: -25.5px;
    color: rgb(237, 238, 242);
}

/* .hr_style{
    border: 1px solid rgb(237, 238, 242);
    width: 650px;
    margin-top: 3%;
}.hr_style:after{
    content: attr(data-content);
    position: absolute;
    color: rgb(237, 238, 242);
    font-weight: bold;
    margin-top: -11px;
    left: 50%;
    text-align: center;
    background-color: white;
    background-size: 10px;
} */
