* {
    box-sizing: border-box;
}
body{
    min-width: 380px;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'helveticaneueregular';
    text-align: center;
    background-color: rgb(250, 250, 250);
    background-size: 100% auto;
}
nav.home_nav{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 15px;
    word-spacing: 40px;
}
nav.home_nav a{
    text-decoration: none;
    color: rgb(80,0,140);
    font-size: 20px;
    font-weight: bold;
}
header{
    display: block;
    padding-top: 10%;
}
h1, h2, h5, .icons{
    text-align: center;
}
h1{
    font-family: 'helveticaneuebold';
    font-size: 50px;
    font-weight: 900;
    color: rgb(34,34,34);
}
h2{
    font-size: 20px;
    font-weight: 100;
    color: rgb(170,170,170);
    margin-top: -25px;
}
h5{
    padding-top: 20px;
    word-spacing: 2px;
    color: rgb(207, 207, 208);
}
.icons{
    padding-top: 15px;
    padding-bottom: 15px;
    word-spacing: 25px;
}
.icons a{
    color: inherit;
}
figure img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 150px;
}
hr{
    border: 1px solid rgb(207, 207, 208);
    margin: 40px 20px 8px 20px;
    display: inline-block;
    width: 17%;
}
.hr_o{
    margin-top: -21.5px;
    color: rgb(207, 207, 208);
}

/* Blog */

nav.blog_nav{
    float:right;
    margin-top: 20px;
    margin-left: -338px;
    padding-right: 50px;
    word-spacing: 24px;
}
nav.blog_nav a{
    text-decoration: none;
    color: rgb(80,0,140);
    font-size: 20px;
    font-weight: bold;
}
.blog_info_title + .blog_info_date{
    margin-left: 31%;
}
mark{
    background-color: rgb(238, 238, 238);
}
.blog_info span:nth-child(2n){
    display: inline-block;
}
.blog_info_title{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2vh;
    color: rgb(34,34,34);
    margin-top: 2%;
    margin-left: 33%;
    text-align: left;
}
.blog_info_date{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(200,200,200);
    transform: translateY(-100%);
    text-align: right;
}

/* Projects */

.projects_nav{
    float:right;
    margin-top: 20px;
    margin-left: -338px;
    padding-right: 50px;
    word-spacing: 24px;
}
nav.projects_nav a{
    text-decoration: none;
    color: rgb(80,0,140);
    font-size: 20px;
    font-weight: bold;
}
.projects_info i{
    margin-right: 0.4%;
}
.projects_info span *{
    transform: translateY(-200%);
}
.projects_info_forScience, .projects_info_snake2D{
    display: block;
    margin-left: 32.5%;
    margin-top: 0%;
    text-decoration: none;
    color: rgb(5, 5, 5);
}
.projects_info_title{
    text-decoration: none;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2vh;
    color: rgb(34,34,34);
    margin-top: 1%;
    margin-left: 32.5%;
    text-align: left;
}
.projects_info_date{
    position: absolute;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-left: 62%;
    color: rgb(200,200,200);
    transform: translateY(-200%);
}

/* About */

.about_nav{
    float:right;
    margin-top: 20px;
    margin-left: -338px;
    padding-right: 50px;
    word-spacing: 24px;
}
nav.about_nav a{
    text-decoration: none;
    color: rgb(80,0,140);
    font-size: 20px;
    font-weight: bold;
}
figure.about_img img{
    border-radius: 0%;
    display: block;
    margin: 0 auto;
    width: 200px;
}
.about_content{
    margin-left: 20%;
    margin-right: 20%;
}
.about_content h2{
    margin-top: -3%;
    margin-bottom: 3%;
}
.about_content p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3em;
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
}
.about_skills, .about_projects, .about_personalTraits, .about_education, .about_experience, .about_other{
    text-align: left;
    width: 50%;
}
.about_skills ul, .about_projects ul, .about_personalTraits ul, .about_education ul, .about_experience ul, .about_other ul{
    margin-left: 5%;
}
.about_skills ul li, .about_projects ul li, .about_personalTraits ul li, .about_education ul li, .about_experience ul li, .about_other ul li{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7em;
}
.about_skills h2, .about_projects h2, .about_personalTraits h2, .about_education h2, .about_experience h2, .about_other h2{
    padding-top: 7%;
    margin-bottom: 4%;
    font-family: 'helveticaneuebold';
    font-size: 50px;
    font-weight: 500;
    color: rgb(34,34,34);
}
.about_skills h2{
    margin-left: -72%;
}
.about_projects h2{
    margin-left: -60%;
}
.about_personalTraits h2{
    margin-left: -31%;
}
.about_education h2{
    margin-left: -52%;
}
.about_experience h2{
    margin-left: -52%;
}
.about_other h2{
    margin-left: -72%;
}
.about_education ul p, .about_experience ul p, .about_other ul p{
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 100;
    color: rgb(120, 120, 120);
}
.about_experience ul p, .about_other ul p{
    margin-bottom: 0px;
}
.about_experience ul li:not(:first-child){
    padding-top: 20px;
}
.about_list_section{
    width: 100%;
    height: auto;
    margin-left: 13%;
}
.about_first, .about_second, .about_third{
    display: inline-block;
}
.about_first, .about_second, .about_third{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

/* Project */
/* ForScience */

figure.forScience_img img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 200px;
}
.forScience_project_content, .forScience_project_whatsInside{
    margin-left: 20%;
    margin-right: 20%;
}
.forScience_project_content h2, .forScience_project_whatsInside h2{
    font-family: 'helveticaneuebold';
    font-size: 35px;
    font-weight: 900;
    color: rgb(34,34,34);
}
.forScience_project_date{
    margin-top: 1%;
}
.forScience_project_author{
    background-color: rgb(200, 200, 200);
    text-align: center;
    border: 1px solid rgb(34,34,34);
    border-radius: 5px;
    padding: 0px 5px;
}
.forScience_project_content h2{
    margin-top: 3%;
    margin-bottom: 3%;
}
.forScience_project_content p, .forScience_project_whatsInside p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3em;
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
}
hr.separator{
    border: 1px solid rgb(207, 207, 208);
    margin: 40px;
    display: inline-block;
    width: 60%;
}
.forScience_structure_gameLevels{
    position: relative;
    width: 100%;
    height: auto;
}
.forScience_levelOne, .forScience_levelTwo, .forScience_levelThree{
    position: relative;
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
}
.forScience_levelOne h3, .forScience_levelTwo h3, .forScience_levelThree h3{
    font-family: 'helveticaneuebold';
    font-size: 24px;
    font-weight: 900;
    color: rgb(34, 34, 34);
    margin: 0 auto;
    margin-top: 5%;
}
.forScience_levelOne figure, .forScience_levelTwo figure, .forScience_levelThree figure{
    position: relative;
    padding-top: 3%;
}
.forScience_levelOne figure figcaption, .forScience_levelTwo figure figcaption, .forScience_levelThree figure figcaption{
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 100;
    color: rgb(34, 34, 34);
}
.gameLevels_pic{
    border-radius: 0%;
    display: block;
    /* margin: 0 auto; */
    width: 100%;
}
.gameLevels_text{
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
}
.forScience_levelOne{
    background-color: yellow;
}
.forScience_levelTwo{
    background-color: green;
}
.forScience_levelThree{
    background-color: orange;
}






@media screen and (max-width: 380px){
    nav.home_nav a{
        text-decoration: none;
        color: rgb(80,0,140);
        font-size: 20px;
        font-weight: bold;
    }
    #p_nav{
        display: block;
        text-align: center;
        margin: 0 auto;
        padding-top: 15px;
        word-spacing: 20px;
        width: 100%;
        padding-left: 16%;
    }
    .projects_info_title{
        padding-left: 10px;
        padding-right: 10px;
    }
    #pi_date{
        transform: translateY(-43%) !important;
        margin-left: 40.25% !important;
    }
    .about_content h1{
        margin-left: -5%;
    }
}
@media screen and (max-width: 515px){
    nav.home_nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 1%;
    }
    nav.projects_nav{
        display: block;
        text-align: center;
        margin: 0 auto;
        padding-top: 15px;
        word-spacing: 20px;
    }
    .projects_info_date{
        margin-left: 42.85% !important;
    }
    .about_skills h2{
        margin-left: -15% !important;
    }
    .about_experience h2{
        margin-left: -37% !important;
    }
    .about_education h2{
        margin-left: -22% !important;
    }
    .about_projects h2{
        margin-left: -10% !important;
    }
    .about_personalTraits h2{
        margin-left: -16% !important;
    }
    .about_other h2{
        margin-left: -12% !important;
    }
    .about_skills ul, .about_projects ul, .about_personalTraits ul, .about_education ul, .about_experience ul, .about_other ul{
        margin-left: 16% !important;
    }
}
@media screen and (max-width: 1000px){
    nav.blog_nav{
        margin-top: 20px;
        text-align: center;
        margin: 0 auto;
        word-spacing: 20px;
    }
    figure.blog_img, figure.projects_img, figure.about_img{
        margin-top: 80px;
    }
    h2{
        padding-left: 10px;
        padding-right: 10px;
    }
    span.projects_info_date{
        transform: translateY(-34%) !important;
        margin-left: 45.85%;
    }
    .about_first, .about_second, .about_third{
        display: inline-block;
    }
    .about_first, .about_second, .about_third{
        display: flex;
        flex-direction: column-reverse;
        align-items:flex-start;
    }
    .about_list_section{
        width: 100%;
        height: auto;
        margin-left: 13%;
    }
    .about_skills ul, .about_projects ul, .about_personalTraits ul, .about_education ul, .about_experience ul, .about_other ul{
        margin-left: 0%;
    }
    .about_skills h2{
        margin-left: -64%;
    }
    .about_experience h2{
        margin-left: -14%;
    }
    .about_education h2{
        margin-left: -22%;
    }
    .about_projects h2{
        margin-left: -34%;
    }
    .about_personalTraits h2{
        margin-left: -34%;
    }
    .about_other h2{
        margin-left: -57%;
    }
}
@media screen and (max-width: 1350px){
    .projects_info_title + .projects_info_date{
        margin-left: 0%;
    }
    .projects_info_title{
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 2vh;
        color: rgb(34,34,34);
        margin-top: 2%;
        margin-left: 0%;
        text-align: center;
    }
    .projects_info_date{
        transform: translateY(0%);
        margin-left: 46.85%;
    }
    .blog_info_title + .blog_info_date{
        margin-left: 0%;
    }
    .blog_info_title{
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 2vh;
        color: rgb(34,34,34);
        margin-top: 2%;
        margin-left: 0%;
        text-align: center;
    }
    .blog_info_date{
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: rgb(200,200,200);
        transform: translateY(0%);
    }
    .projects_info_forScience{
        display: block;
        margin-left: 0.5%;
        text-align: center;
        transform: translateX(0%) translateY(-20%);
        text-decoration: none;
        color: rgb(5, 5, 5);
    }
    .projects_info_snake2D{
        display: block;
        margin-left: 0.5%;
        text-align: center;
        transform: translateX(0%) translateY(-20%);
        text-decoration: none;
        color: rgb(5, 5, 5);
    }
}

@font-face {
    font-family: 'helveticaneueregular';
    src: url('helveticaneue-webfont.eot');
    src: url('helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-webfont.woff2') format('woff2'),
         url('helveticaneue-webfont.woff') format('woff'),
         url('helveticaneue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuebold';
    src: url('helvetica_neu_bold-webfont.eot');
    src: url('helvetica_neu_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('helvetica_neu_bold-webfont.woff2') format('woff2'),
         url('helvetica_neu_bold-webfont.woff') format('woff'),
         url('helvetica_neu_bold-webfont.ttf') format('truetype'),
         url('helvetica_neu_bold-webfont.svg#helveticaneuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
