html, body{
    margin: 0px auto;
    padding: 0px;
    height:100%;
    min-height:100%;
    /* background-color: rgb(45, 46, 48); */
    background-color: rgb(0, 0, 0);
    /* min-width:610px; */
}
main{
    display: block;
    height:inherit;
    /* background-color: rgb(45, 46, 48); */
    /* background-color: rgb(0, 0, 0); */
}
div.main_content{
    display: block;
    width: 100%;
    height: inherit;
    background-color: rgb(45, 46, 48);
}
div.qa, div.techs, div.developers_journal, div.patch_notes, div.gallery{
    display: inline-block;
    width: inherit;
    background-color: rgb(45, 46, 48);
    /* background-color: rgb(0, 0, 0); */
    min-width: 650px;
}
footer{
    display: block;
    width: inherit;
    bottom: 0;
    background-color: rgb(58, 216, 92);
}

/* Navbar */

nav{
    width: inherit;
    text-align: center;
}
div.container{
    width: auto;
}
ul.navbar-nav li.nav-item a.nav-link{
    color: white;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

/* GALLERY */

.carousel-caption-custom{
    position: absolute;
    float:left;
    /* right: 15%; */
    bottom: 20px;
    top: 10%;
    left: 2%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
.carousel-inner img {
  margin: auto;
}

/* About */

section.about_info{
    height: 100%;
}
article.about_warning{
    width: 100%;
    display: inline-block;
    background-color: rgb(45, 46, 48);
}
article.one_p{
    padding: 10px 0px 0px 40px;
}
article.two_one_p{
    padding: 10px 10px 0px 10px;
}
article.two_two_p{
    padding: 10px 40px 0px 0px;
}
article.one_p, article.two_one_p, article.two_two_p{
    height: inherit;
    width: inherit;
    float: left;
    width: 33.33%;
    margin-bottom: 0px;
}
p.about_text{
    background-color: rgb(35, 39, 43);
    text-align: justify;
    font-size: 26px;
    padding: 2px;
    color: rgb(251, 253, 253);
    font-family: 'Raleway', sans-serif;
}

/* Footer */

form.contact_us{
    /* background-color: rgb(51, 191, 79); */
    width: 100%;
    height: 100%;
}
form.ask_devs{
    float: left;
    width: 40%;
    padding: 40px 80px 40px 80px;
}
section.stay_in_touch{
    float: left;
    width: 60%;
    padding: 40px 80px 40px 80px;
}
section.social_media{
    background-color: rgb(54, 201, 83);
    display: inline-block;
    width: inherit;
    padding: 10px 80px 10px 80px;
}
label.ask_devs_name, label.ask_devs_text{
    font-size: 18px;
    color: rgb(35, 39, 43);
    font-family: 'Raleway', sans-serif;
    background-color: rgb(114, 118, 124);
}
label.ask_devs_name{
    margin: 0;
}
input[type="text"]{
    padding: 0px 15px 0px 10px;
    background-color: rgb(204, 210, 221);
    border: none;
    min-width: 300px;
    max-width: 300px;
}
textarea{
    vertical-align: top;
    background-color: rgb(204, 210, 221);
}
button.ask_devs_button{
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    display: inline-block;
    background-color: rgb(247, 66, 66);
}
article.fixd_top{
    margin-top: 0;
}
article.stay_in_touch_info{
    float: left;
    width: 50%;
    /* margin-top: 40px; */
}
p.stay_in_touch_address{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: rgb(35, 39, 43);
    margin-top: -20px;
}
a.link_text{
    text-decoration: none;
}
div.social_icons{
    text-align: center;
}
div.lt_text, div.usa_text{
    padding-top: 20px;
}
article.disclamer{
    display: inline-block;
    width: inherit;
    background-color: rgb(51, 191, 79);
}

/* Techs */



/* Developer Journal */



/* Patch Notes */

article.pn_head, article.pn_current{
    width: 100%;
    display: inline-block;
    background-color: rgb(45, 46, 48);
}
article.pn_one{
    padding: 10px 20px 10px 60px;
}
article.pn_two{
    padding: 10px 60px 10px 20px;
}
article.pn_one, article.pn_two{
    height: 100%;
    width: inherit;
    float: left;
    width: 50%;
    margin-bottom: 0px;
}
p.pn_text{
    background-color: rgb(35, 39, 43);
    text-align: justify;
    font-size: 26px;
    padding: 2px;
    color: rgb(251, 253, 253);
    font-family: 'Raleway', sans-serif;
}
