html, body{
    margin: 0%;
    padding: 0%;
    min-width:610px;
}
main{
    height:100%;
    margin: 0px;
    padding:0px;
    background-color: rgb(19, 20, 22);
}
div.main_content{
    /* position: relative; */
    width: 100%;
    height: 3600px;
}
div.about{
    /* position: absolute; */
    width: inherit;
    height: 16%;
    max-height: 50%;
    background-color: rgb(19, 20, 22);
}
div.techs{
    width: inherit;
    height: 900px;
    background-color: yellow;
}
div.patch_notes{
    width: inherit;
    height: 900px;
    background-color: red;
}
div.devs{
    width: inherit;
    height: 900px;
    background-color: green;
}
footer.contact_us{
    padding: 0%;
    width: 100%;
    display: flex;
    height: 300px;
    background-color: brown;
}

/* Navbar */

nav{
    width: inherit;
    text-align: center;
}
div.container{
    width: auto;
}
ul.navbar-nav li.nav-item a.nav-link{
    color: white;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

/* About */

section{
    width: 100%;
    height: 100%;
}
article.one_p, article.two_one_p, article.two_two_p{
    height: inherit;
    width: inherit;
    background-color: rgb(19, 20, 22);
    float: left;
    width: 33.33%;
    padding: 10px;
}
p.about_title, p.about_topic, p.about_text{
    color: white;
    font-family: 'Raleway', sans-serif;
}
p.about_title{
    background-color: rgb(33, 147, 153);
    text-align: center;
    font-size: 80px;
    padding: 10px;
    margin: 10px;
}
p.about_topic{
    background-color: rgb(242, 187, 21);
    text-align: center;
    font-size: 36px;
    padding: 2px;
}
p.about_text{
    background-color: rgb(35, 39, 43);
    text-align: justify;
    font-size: 26px;
    padding: 2px;
}
