body {
    width: $u-w-100p;
    height: $u-h-100p;
    padding: 0px;
    margin: 0px;
    font-family: $u-ff-raleway;
    font-size: $u-fs-h;
    // background-color: rgb(232, 232, 232);
    background-image: url('https://i.pinimg.com/originals/d8/f2/cf/d8f2cf0bb6fba75d37bd271529932302.jpg');
    min-width: 830px;
}
hr{
    margin: 0px 30px;
}
