footer{
    margin-top: 30px;
    width: $u-w-i;
    background-color: rgb(10, 9, 9) !important;
    position: $u-p-relative;
    display: $u-display-flex;
}
footer p{
    position: $u-p-absolute;
    vertical-align: middle;
    padding-left: 30px;
    color: rgb(245, 245, 245);
    font-size: $u-fs-h;
}
.f-ol{
    width: $u-w-100p;
    list-style-type: none;
    color: rgb(10, 10, 10);
}
.f-ol li{
    float: right;
    font-size: $u-fs-h-1k;
    color: rgb(245, 245, 245);
    padding-right: 40px;
}
.f-ol li:first-child{
    padding-right: 30px;
}
.f-ol li:nth-child(2n), .f-ol li:nth-child(3n){
    padding-left: 0px !important;
}
.f-ol li:nth-child(3n), .f-ol li:nth-child(4n){
    padding-right: 10px !important;
}
