body {
    width: $u-w-100p;
    height: $u-h-100p;
    padding: 0px;
    margin: 0px;
    font-family: $u-ff-raleway;
    font-size: $u-fs-h;
    background-color: rgb(232, 232, 232);
    min-width: 830px;
}
hr{
    margin: 0px 30px;
}
