header{
    width: $u-w-i;
    background-color: rgb(10, 9, 9);
}
nav{
    width: $u-w-i;
    height: $u-h-i;
    position: $u-p-relative;
    display: $u-display-flex;
}
ul{
    width: $u-w-100p;
    position: $u-p-relative;
    list-style-type: $u-style-none;
    -webkit-padding-start: 30px;
    -webkit-padding-end: 10px;
}
// headeryje apsirasomas hover veikia footeryje :d
li:hover:not(:first-child){
    color: rgb(193, 67, 58);
}
li:first-child{
    font-weight: bold;
    font-size: $u-fs-title;
}
li:nth-child(2n):not(:last-child){
    font-weight: 300;
}
li:nth-child(2){
    padding-left: 60px;
}
li:nth-child(2n+3){
    padding-left: 15px;
}
li:nth-child(3n+4){
    padding-left: 15px;
}
li{
    display: $u-display-inline;
    font-size: $u-fs-li;
}
li:last-child{
    float:right;
    padding-right: 20px;
}
a{
    text-decoration: $u-style-none;
    color: rgb(245, 245, 245);
}
