.news-feed{
    display: $u-display-flex;
    width: $u-w-a;
    height: $u-h-a;
    padding: 0px 10px 10px 20px;
    margin-right: 0px;
    // background-color: orange;
}
.bottom-div{
    float: left;
    width: $u-w-33p;
    padding: 0px 10px 10px 0px;
    // background-color: inherit;
    background-color: rgb(201, 201, 201);
    border: 1px solid rgb(170, 170, 170);
    position: $u-p-relative;
    margin-top: 10px;
}
.bottom-div:first-child{
    margin-left: 10px;
    margin-right: 10px;
}
.bottom-div:last-child{
    margin-left: 10px;
    margin-right: 20px;
}
.bottom-div figure{
    width: $u-w-100p;
    -webkit-margin-start: 10px;
    -webkit-margin-before: 10px;
    margin-left: 5px;
}
@mixin bottom-div-img($img-width, $img-height, $border-radius){
    width: $img-width;
    height: $img-height;
    border-radius: $border-radius;
}
.img{
    &.bottom-news-regular{
        @include bottom-div-img(
            $u-w-i,
            $u-h-i,
            2px
        );
    }
}
.bottom-div h2, .bottom-div p{
    padding: 0px 20px;
    opacity: 0.85;
}
.bottom-div p{
    text-align: justify;
    padding-bottom: 30px;
}
.bottom-div h2 i{
    font-weight: 100;
    color: rgb(167, 36, 52);
}
