// positions
$u-p-relative: relative;
$u-p-absolute: absolute;
// display
$u-display-flex: flex;
$u-display-inline: inline;
$u-display-block: block;
$u-display-inlineblock: inline-block;
// list styles
$u-style-none: none;
// widths
$u-w-i: inherit;
$u-w-a: auto;
$u-w-100p: 100%;
$u-w-75p: 75%;
$u-w-70p: 70%;
$u-w-60p: 60%;
$u-w-20p: 20%;
$u-w-10p: 10%;
// heights
$u-h-i: inherit;
$u-h-a: auto;
$u-h-100p: 100%;
$u-h-75p: 75%;
$u-h-50p: 50%;
$u-h-33p: 33.3333%;
$u-h-10p: 10%;
// font families
$u-ff-raleway: 'Raleway', sans-serif; // <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
$u-ff-opensans: 'Open Sans', sans-serif; // <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
// font sizes
$u-fs-h: 2vh;
$u-ff-btn: 1.5vh;
$u-fs-title: 3vh;
$u-fs-li: 2.4vh;
