*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: inherit;
    display: flex;
}
/* HEADER START */
.header{
    background-color: rgb(250, 250, 250);
}
.brand, .sub-meniu{
    -webkit-margin-before: 2em;
    -webkit-margin-after: 2em;
}
.brand a, .sub-meniu a{
    text-decoration: none;
    color: rgb(134, 134, 134);
    font-weight: bold;
}
.brand a{
    font-size: 36px;
}
.brand i{
    font-size: 36px;
    color: rgb(255, 101, 193);
}
.brand{
    margin: auto 0;
    width: 30%;
    -webkit-padding-start: 15em;
}
.brand a:hover{
    filter: brightness(0.2);
}
.sub-meniu{
    width: 70%;
    -webkit-padding-end: 15em;
}
.sub-meniu ul{
    margin: auto 0;
    float: right;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
    list-style-type: none;
}
.sub-meniu ul li{
    font-size: 14px;
}
.sub-meniu ul li:not(:nth-child(7)){
    display: inline;
    margin-right: 2em;
}
.sub-meniu ul li:nth-child(5) button{
    border: 15px solid rgb(255, 101, 193);
    border-radius: 26px;
    background-color: rgb(255, 101, 193);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.sub-meniu ul li:nth-child(5) button:hover{
    cursor: pointer;
    border: 15px solid rgb(244, 97, 183);
    background-color: rgb(244, 97, 183);
}
.sub-meniu ul li:last-child a img{
    transform: translateY(33%);
}
.sub-meniu ul li:not(:nth-child(5)):hover, .sub-meniu ul li:last-child a img:hover{
    filter: brightness(0.2);
}
